a{
    background-color: #ff0;
    display: block;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: #f00;
    margin-bottom: 5px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

a:hover{
    background-color: #000;
    color: rgb(255, 255, 255);
}
/*hover e active e para mostra a cor quando segurar o botão do mouse*/

a:active{
    background-color: #f00;
    color: #ff0;
}